body{
    background-color: #DDDDDD;
}
.navbar-nav > li{
    padding-left:1rem;
    padding-right:1rem;
    

  }
  a:focus {
    color: red;
  }
  .fa-user{
      color:rgb(94, 224, 100);
      margin-right:2%;
  }
  .navbar{
      padding: 10px 100px;
      
      background-color: #fff;
      min-width:100vw;
     
  }
  .navbar-brand{
      font-size:1.5rem;
      font-weight: bold;
  }
  .designation{
      font-size:1rem;
      color:rgb(0, 0, 0);
      margin-left:5%;
      letter-spacing: 1px;
      font-weight: 500;
  }

  @media (max-width:650px) {
      .navbar{
          padding:15px;
          padding-bottom:0;
      }
      .designation{
          display: none;
      }
      
  }