.cards-list {
  margin:10% 0;
  z-index: 0;
  width: 100%;
  display: flex;
  
  justify-content: space-around;
  flex-wrap: wrap;
  animation: fadein 1s ease-in-out;

  
}
h1{
  margin-top:5%;
  
}
.card_image>h3{
  margin-top: 1rem;
}

.card {
  margin: 70px auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 1s;
  color:rgb(37, 36, 36);

}
.img{
  animation:bigger 1.5s;

}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -60px;
  height: 40px;
}
@keyframes bigger {
  0% {
    transform: rotate(270deg);

  }
  80% {
    transform: rotate(20deg);

  }

  100% {
    transform: rotate(360deg);
  }
}
.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    color:rgb(32, 31, 31);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media (max-width: 500px) {
  .cards-list {
    /* On small screens, we are no longer using row direction but column */
  }
  .card_image>h3{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .card{
    width: 100px;
  height: 100px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/